body {
    background-color: rgb(12, 12, 24);
    color: aliceblue;

}


/* Main section */

.welcome {
    padding: 200px 0 50px;
}

.title {
    text-align: center;
    font-family: 'Amatic SC', cursive;    
    font-size: 6rem;
}

.main-buttons {
    text-align: center;
}

#main .btn {
    margin: 0 30px 0;
}


/* How-to section */

#how-to {
    margin-top: 300px;
}

.rules {
    height: 800px;
}

li {
    list-style-type: circle;
}

